
<!-- //faegze -->
<mat-card style="width:400px;zoom: 150%;" >  
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile  rowspan="2" > 
        <div style="text-align: center;">
          <div>
            <img mat-card-lg-image matListAvatar src="assets/img/official-artwork/{{pokemon?.id}}.png" alt="..." >
          </div>
          <div style="text-align: center;"> No. {{pokemon?.id |  number:'3.'}}</div>
        </div>
    </mat-grid-tile >
    <mat-grid-tile rowspan="2" >
      <mat-list>
        <mat-list-item>
          {{pokemon?.name}}
          <button mat-button (click)="goSound()">
              <mat-icon>play_circle_icon</mat-icon>
            </button>
        </mat-list-item >
        <mat-list-item >
        <mat-chip-list >
          <mat-chip *ngFor="let type of pokemon?.types">{{type}}</mat-chip>
        </mat-chip-list >
      </mat-list-item >
        <mat-list-item >
          Taille : {{pokemon?.height |  number:'.1'}} m 
        </mat-list-item >
        <mat-list-item >
          Poids : {{pokemon?.weight |  number:'.1'}} kg
        </mat-list-item >
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        {{pokemon?.description}}
    </mat-grid-tile>
  </mat-grid-list >
</mat-card>








